:root {
  --blue-100: #24afff;
  --blue-200: #248bff;

  --yellow-50: #eee9d8;
  --yellow-100: #ffe21d;
  --yellow-200: #ffd21d;
  --yellow-300: #e0b508;

  --green-100: #d7eeeb;
  --green-200: #27b667;

  --red-100: #f1dbe2;
  --red-200: #f26c6c;

  --gray-100: #e5e6ea;
  --gray-200: #b8b8b8;
  --gray-400: #696969;
  
  --black: #000000;
  --white: #ffffff;
}
